body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    /* Increase the font size */
    font-weight: bold;
    /* Make the text bold */
    color: white;
    /* Change the text color */
    text-align: center;
    /* Center the text */
    margin-bottom: rem;
    /* Add some margin at the bottom */
}

h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #444;
}

.buy {
    background-color: #f5f5f5;
    /* Change the background color */
    padding: 20px;
    /* Add some padding */

}

.buy div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.buy p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #444;
}

.coffee {
    background-color: black;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #f44336;
    transition: background-color 0.3s ease;
}

.coffee a:hover {
    background-color: #e53935;
}

.home-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    color: red;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.home-link:hover {
    color: black;
}



.robot {
    background-color: #333;
    padding: 10px;

}

.spacer {
    margin-right: 10px;
    /* Add some space to the right of the icon */
}